[submodule "onebase_api"]
	path = onebase_api
    url = ./onebase_api
[submodule "onebase_common"]
	path = onebase_common
    url = ./onebase_common
[submodule "onebase_web"]
	path = onebase_web
	url = ./onebase_web
[submodule "onebase_presenter"]
	path = onebase_presenter
	url = ./onebase_presenter
